Repository remarkablemark/texsvg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build(package): save `ts-node` to devDeps and bump lockfileVersion to 3
  package-lock.json
  package.json
Due: prettier --write

docs(readme): update examples
  README.md
Due: prettier --write

test(esm): add index.test.mjs
  .gitignore
  package.json
  test/index.test.mjs
Due: prettier --write

feat: add option optimize to library and binary (defaults to true)
  README.md
  package-lock.json
  package.json
  src/bin.test.ts
  src/bin.ts
  src/index.test.ts
  src/index.ts
  test/integration.test.ts
Due: eslint --fix, prettier --write

fix: remove `convertPathData` from svgo config
  package.json
  src/config.ts
  test/__snapshots__/integration.test.ts.snap
Due: eslint --fix, prettier --write

chore(github): delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore(package): fix repository url
  package.json
Due: prettier --write

build(package): fix 1 moderate severity vulnerability
  package-lock.json
Due: prettier --write

ci(github): ignore dependabot in assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

test(jest): fix errors
  jest.config.integration.ts
  jest.config.ts
  src/index.test.ts
Due: eslint --fix

build(package-lock): fix 1 low severity vulnerability
  package-lock.json
Due: prettier --write

build(nvmrc): bump Node.js version from 20 to 22
  .nvmrc
  package.json
Due: prettier --write

ci(github): continue on error in assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): set permissions in workflows
  .github/workflows/assign-reviewer.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: prettier --write

test(package): fix esm test in test:integration script
  package.json
Due: prettier --write

test: update integration.test.ts.snap
  test/__snapshots__/integration.test.ts.snap
Due: none

build(package): bump typescript from 5.8.3 to 5.9.2
  package-lock.json
  package.json
Due: prettier --write

build(nvmrc): bump Node.js version from 22 to 24
  .nvmrc
Due: none

ci(github): set up trusted publishing for npm in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): pin workflow actions to hash
  .github/workflows/assign-reviewer.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

refactor: improve types, lint, and tests
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .husky/pre-commit
  README.md
  __tests__/__snapshots__/integration.test.ts.snap
  __tests__/bin.test.ts
  __tests__/index.test.mts
  __tests__/index.test.ts
  __tests__/integration.test.ts
  eslint.config.mjs
  eslint.config.mts
  jest.config.integration.ts
  jest.config.ts
  package-lock.json
  package.json
  src/bin.ts
  src/index.ts
  src/mathjax.d.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

build(package): fix script prepublishOnly
  package.json
Due: prettier --write

chore(eslint): fix deprecated error in eslint.config.mts
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier --write

ci(github): delete .github/workflows/assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): install with ignore scripts in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

feat!: upgrade mathjax from 3.2.2 to 4.1.2
  __tests__/__snapshots__/integration.test.ts.snap
  __tests__/index.test.ts
  __tests__/integration.test.ts
  jest.config.ts
  src/index.ts
  src/mathjax.d.ts
Due: eslint --fix

refactor: replace default export with named export
  README.md
  __tests__/bin.test.ts
  __tests__/index.test.mts
  __tests__/index.test.ts
  __tests__/integration.test.ts
  src/bin.ts
  src/index.ts
Due: eslint --fix, prettier --write

test: update integration.test.ts
  __tests__/integration.test.ts
Due: eslint --fix

build: bump typescript from 5.9.3 to 6.0.3
  README.md
  __tests__/bin.test.ts
  src/bin.ts
  tsconfig.build.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

fix: remove `<mjx-container>` wrapper from SVG output
  __tests__/index.test.ts
  __tests__/integration.test.ts
  src/index.ts
  src/mathjax.d.ts
Due: eslint --fix

test: remove unused test
  __tests__/index.test.mts
Due: none

test: migrate from jest to vitest
  .github/workflows/test.yml
  .husky/pre-commit
  __tests__/bin.test.ts
  __tests__/index.test.ts
  __tests__/integration.test.ts
  eslint.config.mts
  jest.config.ts
  package-lock.json
  package.json
  tsconfig.test.json
  vitest.config.mts
Due: eslint --fix, prettier --write

ci(github): add group vitest to dependabot.yml
  .github/dependabot.yml
Due: prettier --write

build(deps): bump yargs from 17 to 18.0.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

docs(readme): tidy examples
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,js,json,md,yml}
