Repository remarkablemark/texsvg: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "npm run lint:fix",
  "*.{css,js,json,md,yml}": "prettier --write"
}

feat: add tex to svg function that uses mathjax
  src/index.test.ts
  src/index.ts
  src/mathjax.d.ts
Due: npm run lint:fix

docs(readme): update README.md
  README.md
Due: prettier --write

ci: add .travis.yml
  .travis.yml
Due: prettier --write

docs(readme): add dependencies badge
  README.md
Due: prettier --write

chore: set initial version to 1.0.0
  package.json
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier --write

docs(readme): update examples
  README.md
Due: prettier --write

test: add integration test
  .huskyrc.json
  jest.config.js
  jest.integration.js
  package.json
  test/__snapshots__/integration.test.js.snap
  test/integration.test.js
Due: prettier --write

docs(readme): document integration test script
  README.md
Due: prettier --write

ci(travis): run integration test after unit tests
  .travis.yml
Due: prettier --write

chore: add "dom" to `compilerOptions.lib` in tsconfig.json
  tsconfig.json
Due: prettier --write

refactor(texsvg): change `texsvg` to async function
  src/index.ts
Due: npm run lint:fix

chore(texsvg): tidy function types and interface
  src/index.ts
Due: npm run lint:fix

build(package): save `svgo` and its types to dependencies
  package.json
Due: prettier --write

feat(texsvg): optimize svg with svgo
  src/index.test.ts
  src/index.ts
  test/__snapshots__/integration.test.js.snap
Due: npm run lint:fix

docs(texsvg): add comments and JSDoc to module
  src/index.ts
Due: npm run lint:fix

test(integration): verify default property
  test/__snapshots__/integration.test.js.snap
  test/integration.test.js
Due: prettier --write

docs(readme): add link to svgo
  README.md
Due: prettier --write

chore(package): set engines.node to >=4
  package.json
Due: prettier --write

test(unit): improve unit tests for `texsvg`
  src/index.test.ts
Due: npm run lint:fix

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(package): remove homepage and fix bugs.url
  package.json
Due: prettier --write

refactor(texsvg): reuse types and optimize memoized mathjax method
  src/index.ts
Due: npm run lint:fix

docs(readme): fix ES Modules import when esModuleInterop flag is false
  README.md
Due: prettier --write

build(package): save `@types/node` to devDependencies
  package.json
Due: prettier --write

feat(bin): add binary cli that outputs tex to svg to console or file
  src/bin.test.ts
  src/bin.ts
Due: npm run lint:fix

feat(package): add "bin" field that maps `texsvg` to `./cjs/bin.js`
  package.json
Due: prettier --write

test(integration): verify happy path scenarios for bin cli
  test/integration.test.js
Due: prettier --write

docs(readme): document cli command and update examples
  README.md
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(eslint): enable rules "no-console" and "no-debugger"
  .eslintrc.json
  src/bin.ts
Due: npm run lint:fix, prettier --write

refactor(config): move mathjax init config to its own file
  src/config.ts
  src/index.ts
Due: npm run lint:fix

feat(config): set SVGO config so default YAML config isn't read
  src/config.ts
  src/index.ts
  test/__snapshots__/integration.test.js.snap
Due: npm run lint:fix

build(tsconfig): exclude `*.test.ts` during tsc
  tsconfig.json
Due: prettier --write

chore(config): type svgo config with `SVGO.Options` interface
  src/config.ts
Due: npm run lint:fix

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): add link to JSFiddle example
  README.md
Due: prettier --write

chore(github): add .github/FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore(github): add .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

build(package): upgrade dependency `@types/svgo` to 1.3.3
  package.json
Due: prettier --write
