Repository remarkablemark/texsvg: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "npm run lint:fix",
  "*.{css,js,json,md,yml}": "prettier --write"
}

build(package): upgrade devDependency `standard-version` to ^8.0.2
  package.json
Due: prettier --write

ci(github): add workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(travis): remove .travis.yml
  .travis.yml
Due: prettier --write

ci(github): add script `test:ci`
  .github/workflows/build.yml
  package.json
Due: prettier --write

build(package): remove `coveralls` script and devDependency
  package.json
Due: prettier --write

ci(github): fix coveralls path-to-lcov
  .github/workflows/build.yml
Due: prettier --write

docs(readme): replace build status badge
  README.md
Due: prettier --write

build(package): upgrade devDependencies
  package.json
  src/bin.ts
Due: npm run lint:fix, prettier --write

fix(package): bump mathjax version
  package.json
Due: prettier --write

chore: migrate husky 4 to 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write

chore(release): 1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

ci(github): add dependabot.yml
  .github/dependabot.yml
Due: prettier --write

docs(readme): remove `$ ` from code blocks
  README.md
Due: prettier --write

chore(commitlint): update "body-max-line-length" rule
  .commitlintrc.json
Due: prettier --write

ci(github): add mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(github): update mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

ci(github): add workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

docs(readme): update README.md
  README.md
Due: prettier --write

refactor(bin): unabbreviate variable
  src/bin.ts
Due: npm run lint:fix

test: fix integration tests
  jest.integration.ts
  package.json
  test/__snapshots__/integration.test.js.snap
  test/__snapshots__/integration.test.ts.snap
  test/integration.test.js
  test/integration.test.ts
Due: npm run lint:fix, prettier --write

test: fix unit tests
  jest.config.js
  src/index.test.ts
Due: npm run lint:fix, prettier --write

feat: upgrade to svgo@2.8.0
  src/config.ts
  src/index.ts
Due: npm run lint:fix

docs(readme): update links
  README.md
Due: prettier --write

chore(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: rename jest.config.js -> jest.config.ts
  jest.config.ts
Due: npm run lint:fix

chore: add .npmrc
  .npmrc
Due: none

ci(github): create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

ci(github): remove myself from dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): update mergify.yml to merge deps-dev
  .github/mergify.yml
Due: prettier --write

chore(package): remove standard-version
  package.json
Due: prettier --write

build(package): upgrade jest to v28
  package.json
Due: prettier --write

ci(github): tidy workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): improve workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

feat: throw svgo optimize error
  package.json
  src/index.test.ts
  src/index.ts
Due: npm run lint:fix, prettier --write

docs(changelog): tidy with prettier
  CHANGELOG.md
Due: prettier --write
