Repository remarkablemark/texsvg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{css,js,json,md,yml}": "prettier --write"
}

build(package): upgrade devDependencies
  package.json
  test/__snapshots__/integration.test.ts.snap
Due: prettier --write

ci(github): replace Coveralls with Codecov in build.yml
  .github/workflows/build.yml
Due: prettier --write

docs(readme): replace Coveralls with Codecov status badge
  README.md
Due: prettier --write

build(package): remove @types/svgo
  package.json
Due: prettier --write

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): update mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(github): delete workflow codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci(github): add workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): delete auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

ci(github): merge with squash in mergify.yml
  .github/mergify.yml
Due: prettier --write

build(package): save package-lock.json
  .github/CODEOWNERS
  .npmrc
  package-lock.json
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

style(src): fix eslint prettier
  src/index.test.ts
Due: eslint --fix

docs(readme): update usage
  README.md
Due: prettier --write

fix(package): add "types" field
  package.json
Due: prettier --write

test(integration): update integration snapshot test
  test/__snapshots__/integration.test.ts.snap
Due: none

ci(github): create workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

test(integration): update snapshot
  test/__snapshots__/integration.test.ts.snap
Due: none

chore(package): tidy test scripts
  package.json
Due: prettier --write

build(nvmrc): set Node.js version to 20
  .nvmrc
Due: none

ci(github): create workflow commitlint.yml
  .github/workflows/commitlint.yml
Due: prettier --write

ci(github): remove commitlint from workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

chore(package): remove extraneous field "types"
  package.json
Due: prettier --write

ci(github): fix workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

chore(husky): migrate to husky 9
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

build(deps-dev): bump @typescript-eslint/eslint-plugin from 7.0.0 to 7.0.2
  package-lock.json
  package.json
Due: prettier --write

test(integration): fix snapshot test
  test/__snapshots__/integration.test.ts.snap
Due: none

chore: fix eslint errors
  .eslintrc.json
  src/bin.ts
Due: eslint --fix, prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 moderate severity vulnerability
  package-lock.json
Due: prettier --write

ci(github): publish package to npm registry with provenance
  .github/dependabot.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): add codecov token to build.yml
  .github/workflows/build.yml
Due: prettier --write

test(jest): refactor config exports
  jest.config.ts
  jest.integration.ts
Due: eslint --fix

test(jest): rename jest.config.integration.ts
  jest.config.integration.ts
  package.json
Due: eslint --fix, prettier --write
